/* .odd-style {
    background-color: aquamarine;
}

.even-style {
    background-color: darksalmon;
}

.first-style{
    background-color: red;
    color: white;
}

.last-style{
    background-color: blue;
    color: white;
}
 */
